.pokemon-image{
    height: 200px;
    width: 200px;
}

.home-back-color{
    background-color: #e7e7e7;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
    
p{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 165px;
}

.ng-select-sizes{
    margin-left: 30px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

