  .chart-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 270px;
    border-radius: 10px;
  }

  .poke-sprite{
      height: 130px;
      width: 130px;
  }

  .p-label{
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 5px;
      color: #ffffff;
      width: 100px;
  }

  button{
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
  }

  span{
      padding: 5px;
      font-weight: bold;
  }

  .normal {
    background: #BABAAE;
  }
  
  .fighting {
    background: #A75543;
  }
  
  .flying {
    background: #78A2FF;
  }
  
  .poison {
    background: #A95CA0;
  }
  
  .ground {
    background: #EECC55;
  }
  
  .rock {
    background: #CCBD72;
  }
  
  .bug {
    background: #C2D21E;
  }
  
  .ghost {
    background: #7975D7;
  }
  
  .steel {
    background: #C4C2DB;
  }
  
  .fire {
    background: #FA5643;
  }
  
  .water {
    background: #56ADFF;
  }
  
  .grass {
    background: #8CD750;
  }
  
  .electric {
    background: #FDE139;
  }
  
  .psychic {
    background: #FA65B4;
  }
  
  .ice {
    background: #96F1FF;
  }
  
  .dragon {
    background: #8673FF;
  }
  
  .dark {
    background: #8D6855;
  }
  
  .fairy {
    background: #F9AEFF;
  }

  table{
      margin: auto;
      border-radius: 5px;
      color: #ffffff;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 80px;
      padding-right: 80px;
  }

  td{
      margin: auto;
      font-weight: 100;
      padding: 5px;
  }

  .scale-up-center {
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
   @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .chart-font{
    font-family: Arial, Helvetica, sans-serif;  
  }

  .alert {
    padding: 10px;
    margin-top: 20px;
    margin: auto;
    background-color: #3cf436;
    color: white;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    border-radius: 10px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .p-back{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
}

.container {  
  display: grid;  
  grid-gap: 5px;  
  grid-template-columns: repeat(auto-fit, 100px);
  grid-template-rows: repeat(2, 100px);  
}