<div *ngIf="showData ==  true">
    <div *ngIf="url != undefined">
        <p class="slide-right p-back">
            <a (click)="toPokedexFavorites()">
                <fa-icon class="icon-margin" [icon]="faArrowLeft">
                </fa-icon>
            </a>
        Back</p>
    </div>
        <div class="grid-container">
              <div *ngIf="showAlert == true" class="alert slide-right">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                <strong>¡Success!</strong><br>
                Successfully added
              </div>
            <div class="grid-item1">
                <div class="card slide-right">
                    <h4>{{pokemonName | titlecase}}</h4>
                    <img src="{{pokemonFrontSprite}}" 
                        class="poke-sprite" alt="" 
                        onError="this.src='assets/main-images/pokeball.png'">
                        
                    <img src="{{pokemonBackSprite}}" 
                        class="poke-sprite" alt="" 
                        onError="this.src='assets/main-images/pokeball.png'">
                    <button *ngIf="url == undefined" class="{{pokemonType1}}" (click)="addPokemonFavorite()">
                        <fa-icon class="icon-margin" [icon]="faStar"></fa-icon>
                    Add to Favorite</button>
                </div> 
            </div>
            <div class="grid-item1">   
                <div class="card slide-right">
                    <h4>Type(s)</h4>
                    <p class="{{pokemonType1}} p-label">{{pokemonType1 | titlecase}}</p>
                    <p class="{{pokemonType2}} p-label">{{pokemonType2 | titlecase}}</p>
                </div>
            </div>
            <div class="grid-item1"> 
                <div class="card slide-right">
                    <table class="{{pokemonType1}}">
                        <th>Abilities</th>
                        <tr *ngFor="let stat of abilities">
                            <td>{{stat.ability.name | titlecase}}</td>
                        </tr>
                    </table>
                </div> 
            </div>
            <div class="grid-item1"> 
                <div class="chart-card slide-right">
                    <label>Stats</label>
    
                    <ngx-charts-bar-vertical
                    [view]="view"
                    [results]="chart"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    class="chart-font">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
            <div class="grid-item1">
                <div class="card slide-right">
                    <h4>Measurements</h4>
                    <span>Height: {{pokemonHeight}} m</span>
                    <span>Weight: {{pokemonWeight}} kg</span>
                </div>
            </div>
        </div>
</div>
