<div>
    <div *ngIf="pokemonList">
        <p for="pokemonList" class="slide-right">Select a Pokemon</p>
        <ng-select class="ng-select-sizes slide-right" [(ngModel)]="selectedPokemonUrl" id="pokemonList">
            <ng-option 
                *ngFor="let pokemon of pokemonList.results; let i = index" 
                [value]="pokemon.url">
                {{i + 1}} - {{pokemon.name | titlecase}}
            </ng-option>
        </ng-select>
    </div>
    
    <div *ngIf="pokemonSelected">
        <app-pokedex-info [selectedPokemonUrl] = "selectedPokemonUrl"></app-pokedex-info>
    </div>
</div>




