.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidenav a:hover {
    color: #111111;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  hr.solid {
    border-top: 3px solid #bbb;
  }

  span{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 30px;
  }

  .topnav {
    overflow: hidden;
    background-color: #d0451b;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  h2{
    margin-left: 50px;
  }