<div *ngIf="showCards == true">
    <p class="slide-right">
        <a (click)="toPokedexDashboard()">
            <fa-icon class="icon-margin" [icon]="faArrowLeft">
            </fa-icon>
        </a>
    Favorites</p>
    <div class="grid-container">
        <div class="grid-item1" *ngFor="let pokemon of favoritesPokemon">
            <div class="card slide-right" (click)="goToPokemonInfo(pokemon.url)">
                <label>{{pokemon.name | titlecase}}</label>
                <img src="{{pokemon.sprite}}">
            </div>
        </div>
    </div>
</div>

