.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 10px;
  }

  .chart-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    height: 320px;
    border-radius: 10px;
  }

  .poke-sprite{
      height: 130px;
      width: 130px;
  }

  p{
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
      padding: 5px;
      color: #ffffff;
      width: 100px;
  }

  span{
      padding: 5px;
      font-weight: bold;
  }

  .normal {
    background: #BABAAE;
  }
  
  .fighting {
    background: #A75543;
  }
  
  .flying {
    background: #78A2FF;
  }
  
  .poison {
    background: #A95CA0;
  }
  
  .ground {
    background: #EECC55;
  }
  
  .rock {
    background: #CCBD72;
  }
  
  .bug {
    background: #C2D21E;
  }
  
  .ghost {
    background: #7975D7;
  }
  
  .steel {
    background: #C4C2DB;
  }
  
  .fire {
    background: #FA5643;
  }
  
  .water {
    background: #56ADFF;
  }
  
  .grass {
    background: #8CD750;
  }
  
  .electric {
    background: #FDE139;
  }
  
  .psychic {
    background: #FA65B4;
  }
  
  .ice {
    background: #96F1FF;
  }
  
  .dragon {
    background: #8673FF;
  }
  
  .dark {
    background: #8D6855;
  }
  
  .fairy {
    background: #F9AEFF;
  }

  table{
      margin: auto;
      background-color: #216CD8;
      border-radius: 5px;
      color: #ffffff;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 80px;
      padding-right: 80px;
  }

  td{
      margin: auto;
      font-weight: 100;
      padding: 5px;
  }