<div class="row">
    <div class="column">
        <div class="card slide-right" (click)="toPokedexSearch()">
            <p>
                SEARCH POKEMON
            </p>
            <img class="pikachu-img" src="assets/main-images/pikachu.png" alt="">
        </div>
    </div>
    <div class="column">
        <div class="card slide-right">
            <p>
                FAVORITES
            </p>
            <img class="pikachu-img" src="assets/main-images/star.png" alt="">
        </div>
    </div>
</div>
